html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}


body, #root {
  display: flex;
  flex-direction: column;
}


body {
  background-color: #fafafa;
}

